.status-ok {
    background-color: rgba(126, 238, 145, 0.31);
    color: green;
    padding: 5px;
}

.status-bad {
    background-color: rgba(238, 139, 136, 0.31);
    color: red;
    padding: 5px;
}

.status- {
    background-color: rgba(238, 231, 234, 0.31);
    padding: 5px;
}

.tableHead {
    background-color: rgba(147, 145, 143, 0.31);
}

.tableBody {
    background-color: rgba(238, 231, 234, 0.31);
}

.serviceName {
    width: 180px;
}

.serviceAddress {
    width: 700px;
}

.table tr td {
    text-align: center;
    vertical-align: middle !important;
    max-width: 700px;
    word-wrap: break-word;
}

.btn-danger {
    display: none;
}

.table > tbody > tr > td {
    line-height: 2.8 !important;
}

tr:hover td button.btn-danger {
    display: block;
}

.btndelete {
    min-width: 107px;
}

.btnadd {
    min-width: 107px;
}

.boxCentr > p {
    margin: 5px 0px;
    text-align: center;
}

#containment-wrapper {
    width: 100%;
    height: 500px;
}

.drag-panel {
    cursor: pointer;
    max-height: 76px;
    position: absolute;
    opacity: 1;
}

.panel-body {
    padding: 0px;
}

.navbar-nav>li>a {
    line-height: 0px;
}
.navbar {
    position: relative;
    max-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

.glyphicon:empty {
    width: auto;
}

#chooseWhiteSimpleColors {
    background-color: #ffffff;
}
#choosePurpleSimpleColors{
    background-color: #cb3594;
}
#chooseGreenSimpleColors {
    background-color: #659b41;
 }
#chooseYellowSimpleColors{
    background-color: #ffcf33;
}
#chooseBrownSimpleColors {
    background-color: #986928;
 }
#chooseBlackSimpleColors{
    background-color: #000000;
}