.status-ok{
    background-color:rgba(126, 238, 145, 0.31);
    color: green;
}
.status-bad{
    background-color:rgba(238, 139, 136, 0.31);
    color:red;
}
.status-{
    background-color:rgba(238, 231, 234, 0.31);
}

.tableHead{
    background-color: rgba(147, 145, 143, 0.31);
}
.tableBody{
    background-color: rgba(238, 231, 234, 0.31);
}
.serviceName {
    width:180px;
}
.serviceAddress {
     width:700px;
 }

.table tr td {
    text-align: center;
    vertical-align: middle !important;
    max-width: 700px;
    word-wrap: break-word;
}